/* --TYPOGRAPHY ----------------------------------------------------------------------------- */

@font-face {
  font-family: "Cuprum";
  src:
    local("Cuprum"),
    url('../fonts/Cuprum/cuprum.woff') format('woff'),
    url('../fonts/Cuprum/cuprum.woff2') format('woff2'),
    url('../fonts/Cuprum/Cuprum-Regular.ttf') format('trueformat');
}

@font-face {
  font-family: "Cuprum Bold";
  src:
    local("Cuprum Bold"),
    url('../fonts/Cuprum/cuprumbold.woff') format('woff'),
    url('../fonts/Cuprum/cuprumbold.woff2') format('woff2'),
    url('../fonts/Cuprum/Cuprum-Bold.ttf') format('trueformat');
}

@font-face {
  font-family: "Cuprum Italic";
  src:
    local("Cuprum Italic"),
    url('../fonts/Cuprum/cuprumitalic.woff') format('woff'),
    url('../fonts/Cuprum/cuprumitalic.woff2') format('woff2'),
    url('../fonts/Cuprum/Cuprum-Italic.ttf') format('trueformat');
}

@font-face {
  font-family: "PT Sans";
  src: 
    local("PT Sans"),
    url('../fonts/PTSans/ptsans.woff') format('woff'),
    url('../fonts/PTSans/ptsans.woff2') format('woff2'),
    url('../fonts/PTSans/PTS57F.ttf') format('trueformat');
}

@font-face {
  font-family: "PT Sans Narrow";
  src: 
    local("PT Sans Narrow"),
    url('../fonts/PTSans/PTN57F.ttf') format('trueformat');
}

@font-face {
  font-family: "PT Sans Bold";
  src: 
    local("PT Sans Bold"),
    url('../fonts/PTSans/ptsansbold.woff') format('woff'),
    url('../fonts/PTSans/ptsansbold.woff2') format('woff2'),
    url('../fonts/PTSans/PTS75F.ttf') format('trueformat');
}

/* --TYPOGRAPY__Symbols-technomart-icon-font --------------- */

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

/* --COMMON-SYLES---------------------------------------------------------------------- */

body {
  background-color: #ffffff;
  font-size: 0.625em;
}

.content {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.catalog__button {
  padding-top: 11px;
  padding-bottom: 11px;
  font: 1.3em/1.3846153846em "PT Sans", Arial, sans-serif;/*13/18*/
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.catalog__button_nav:hover,
.filter__submit:hover {
  border-color: #bdc6ca;
}

.catalog__button_nav:active,
.filter__submit:active {
  border-color: #ee3643;
}

.item-new {
  display: block;
  width: 90px;
  font: 1.6em/1.125em "PT Sans Narrow", Arial, sans-serif;/*16/18*/
  text-align: center;
  transform: rotate(45deg);
  color: #ffffff;
  background-color: #ee3643;
  z-index: 2;
}

.link-common {
  text-decoration: none;
}

.list-common {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  display: block;
  font: 1.2em/1em "Cuprum", Arial, sans-serif;/*24/24*/
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.media-common {
  max-width: 100%;
}

.text-common {
  padding: 0;
  margin: 0;
}

.technomart-button {
  display: block;
  font: 1.4em "Cuprum", Arial, sans-serif;/*14*/
  text-transform: uppercase;
  border-radius: 3px;
}

.technomart-button_item {
  display: block;
  width: 135px;
  padding: 10px 0 10px 0; 
  font: 1.4em/1.2857142857em "Cuprum", Arial, sans-serif;/*14/18*/
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.technomart-button_red {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font: 1.4em/1.2857142857em "Cuprum", Arial, sans-serif;/*14/18*/
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 2px;
}

.technomart-button_red:hover,
.logo:hover {
  background-color: #ca2c37;
}

.technomart-button_red:active,
.logo:active {
  background-color: #ba2732;
}


/* --HEADER-------------------------------------------------------------------------- */
/* --HEADER__Top-menu-- */

.nav-menu_top {
  background-color: #293449;
}

.top-menu {
  position: relative;
  padding-left: 220px;
/*  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap; */
}

.top-menu::after {
  display: table;
  clear: both;
  content: "";
}

/*.top-menu__li:last-of-type {
  margin-left: auto;
}*/

.top-menu__left {
  float: left;
}

.logo_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 8px;
  border-radius: 0;
}

.top-menu__element {
  display: inline-block;
  vertical-align: top;
  padding-top: 11px;
  padding-bottom: 10px;
}

.top-menu__element:hover {
  background-color: #212a3a;
}

.top-menu__element:active,
.top-menu__element_active {
  background-color: #212a3a;
  opacity: 0.4;
}

.top-menu__icon-font {
  color: #ffffff;
  opacity: 0.3;
}

.top-menu__form {
  position: absolute;
  top: 0;
}

.top-menu__icon-font_search {
  position: absolute;
  top: 9px;
  left: 15px;
  width: 25px;
  height: 25px;
  font-size: 1.7em;
  content: "";
}

.top-menu__element:hover > .top-menu__icon-font,
.top-menu__form:hover > .top-menu__icon-font{
  opacity: 1;
}

.top-menu__input_search {
  width: 258px;
  padding-left: 48px;
  font: 1.7em "Cuprum", Arial, sans-serif;/*17*/
  color: #000000;
  background-color: #293449;
  border: none;
  outline: none;
}

.top-menu__input_search:focus {
  background-color: #ffffff;
  opacity: 1;
}

.top-menu__input_search::-webkit-input-placeholder {
  font: 17px "Cuprum", Arial, sans-serif;/*17*/
  color:#ffffff;
  opacity: 1;
}

.top-menu__input_search::-moz-placeholder {
  font: 17px "Cuprum", Arial, sans-serif;/*17*/
  color:#ffffff;
  opacity: 1;
}/* Firefox 19+ */

.top-menu__input_search:-moz-placeholder {
  font: 17px "Cuprum", Arial, sans-serif;/*17*/
  color:#ffffff;
  opacity: 1;
}/* Firefox 18- */

.top-menu__input_search:-ms-input-placeholder {
  font: 17px "Cuprum", Arial, sans-serif;/*17*/
  color:#ffffff;
  opacity: 1;
}

.top-menu__input_search:focus + .top-menu__icon-font_search {
  color: #ee3643;
  opacity: 1;
}

.top-menu__input_submit {
  position: absolute;
  top: 9px; 
  left: 15px;
  width: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.top-menu__right {
  float: right;
  display: table;
}

.top-menu__link {
  width: 150px;
  font: 1.7em "Cuprum", Arial, sans-serif;/*17*/
  color: #ffffff;
}

.top-menu__link_bookmarks,
.top-menu__link_basket {
  width: 132px;
  padding-left: 18px;;
  text-align: left;
}
  
.top-menu__icon-font_basket,
.top-menu__icon-font_bookmarks {
  margin-right: 4px;	
}

.top-menu__icon-font_basket-not-empty {
  margin-right: 7px;
}

.top-menu__icon-font_bookmark-catalog  {
  margin-right: 3px;
}


.top-menu__link_bookmarks_catalog {
  width: 136px;
  padding-left: 12px;
}

.top-menu__link_basket-not-empty {
  width: 138px;
  margin-right: -3px;
  padding-left: 12px;
  background-color: #ee3643;
}

.top-menu__link_order {
  text-align: center;
  background-color: #63a63e;
}

.top-menu__link_order:hover {
  background-color: #5fbb2d;
}

.top-menu__link_order:active,
.top-menu__link_order_active {
  color: #b1c5a8;
  background-color: #518534;
  opacity: 1;
}


/* --HEADER-Nav-menu_bottom----------- */

.nav-menu_bottom {
  padding: 45px 0 59px 0;
  background-color: #ffffff;
  background-color: #f1f5f7;
}

/* --HEADER-Nav-menu__user-menu-- */

.user-menu {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding-bottom: 42px;
}

.user-menu__li {
  width: 310px;
}

.user-menu__icon-font {
  font-size: 1em;/*20*/
  color: #32425c;
  opacity: 0.3;
}

.user-menu__p {
  padding-left: 50px;
  padding-right: 58px;
  font: 1.6em/1.4375em "Cuprum Italic", Arial, sans-serif;/*16/23*/
  color: #ee3643;
}

.user-menu__span {
  display: inline-block;
}

.user-nenu__li_description {
  padding-top: 2px;
}

.user-menu__li_contacts {
  width: 303px;
  padding-left: 7px;
}

.user-menu__phone {
  padding: 7px 0;
  width: 263px;
  font: 2.1em "Cuprum", Arial, sans-serif;/*21*/
  color: #e9292a;
  background-color: transparent;
  border: 4px solid #ffffff;
}

.user-menu__phone::after {
  display: table;
  content: "";
  clear: both;
}

.user-menu__icon-font_phone {
  float: left;
  padding-left: 6px;
}

.user-menu__span_phone{
  float: right;
  padding-right: 49px;
}

.user-menu__span_address {
  padding: 7px 0 0 9px;
  font: 1.4em "Cuprum", Arial, sans-serif;/*14*/
  color: #32425c;
}

.user-menu__span_user-name {
  margin-right: 22px;
}

.user-menu__li_login {
  width: 282px;
  padding-left: 33px;
}

.user-menu__button {
  padding: 8px 0 9px 0;
  font: 2.1em "Cuprum", Arial, sans-serif;/*21*/
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.user-menu__button:hover .user-menu__span_login {
  color: #ee3643;
}

.user-menu__button:active .user-menu__span_login {
  color: #000000;
  opacity: 0.3;
}

.user-menu__button_login {
  float: left;
  width: 107px;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 13px;
  text-align: left;
}

.user-menu__button_logout {
  float: right;
  min-width: 282px;
  margin-bottom: 10px;
  padding-right: 9px;
}

.user-menu__button_login:hover .user-menu__icon-font {
  opacity: 1;
}

.user-menu__button_login:active .user-menu__icon-font,
.user-menu__button_login:active .user-menu__span_user-name {
  opacity: 0.2;
}

.user-menu__icon-font_login {
  float: left;
  padding-top: 3px;
  font-size: 1em;/*22*/
  margin-right: 5px;
}

.user-menu__icon-font_user {
  float: left; 
  margin-right: 10px;
}

.user-menu__button_register {
  width: 150px;
  padding-top: 10px;
  float: right;
}

.user-menu__li_login::after {
  clear: both;
  content: "";
  display: table;
}

.user-menu__user-link {
  display: inline-block;
  font: 1.6em/1.125em "Cuprum", Arial, sans-serif;/*16/18*/
  text-decoration: underline;
  color: #32425c;
}

.user-menu__user-link:hover {
  color: #ee3643;
  text-decoration: underline;
}

.user-menu__user-link:active {
  color: #32425c;
  text-decoration: none;
  opacity: 0.3; 
}

.user-menu__user-link_orders {
  position: relative;
  margin-right: 27px;
}

.user-menu__user-link_orders::after {
  position: absolute;
  top: 50%;
  right: -17px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
  content: "";
}


/* --HEADER-Nav-menu__bottom-menu-- */

.bottom-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: #32425c;
}

.bottom-menu__link {
  display: block;
  padding: 19px 30px 20px 28px;
  font: 1.7em "Cuprum", Arial, sans-serif;/*17*/
  color: #ffffff;
}

.bottom-menu__link:hover {
  background-color: #293449;
}

.bottom-menu__link:active,
.bottom-menu__link_active{
  background-color: #1d2739;
  opacity: 0.5;
}

.bottom-menu__li:first-of-type .bottom-menu__link {
  padding-left: 50px;
  padding-right: 40px;
}

.bottom-menu__li:nth-of-type(6) .bottom-menu__link {
  padding-left: 33px;
}

.bottom-menu__li:last-of-type .bottom-menu__link {
  padding-left: 33px;
  padding-right: 53px;
}

/* --MAIN------------------------------------------ */

/* --MAIN-Index-catalog--------------------------- */

.index-catalog {
  padding: 60px 0 55px 0;
  background-color: #ffffff;
}

/* --MAIN-Index-catalog__items-list-- */

.index-catalog__items-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.items-list__item {
  position: relative;
  width: 275px;
  height: 83px;
  padding: 20px 0 20px 25px;
  margin-bottom: 20px;
  overflow: hidden;
}

.items-list__item_1,
.items-list__item_6 {
  background-color: #f6b22d;
}

.items-list__item_2 {
  background-color: #4aafde;
}

.items-list__item_3 {
  background-color: #cc79d1;
}

.items-list__item_4 {
   margin-bottom: 0; 
}

.items-list__item_5 {
  margin-left: auto;
  background-color: #85d179;
}

.items-list__item_6 {
  position: absolute;
  bottom: -20px;
  right: 0;
}

.items-list__item-new {
  position: absolute;
  top: 9px;
  right: -33px;
  padding: 5px 0 5px 0;
  width: 100px;
}

.items-list__item-title {
  margin-bottom: 13px;
  font: 2.4em/1.25em "Cuprum", Arial, sans-serif;/*24/30*/
  color: #ffffff;
  text-transform: capitalize;
}

.items-list__item-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.items-list__item-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.items-list__item-img {
  position: absolute;
  top: 32px;
  right: 30px;
}

.items-list__item_1 .items-list__item-img,
.items-list__item_5 .items-list__item-img {
  right: 45px;
}

.items-list__item_5 .items-list__item-img {
  top: 28px;
}

/* --MAIN-Index-catalog__items-list__Slider-- */

.items-list__item_slider {
  position: relative;
  width: 620px;
  height: 267px;
  padding: 0;
}

.items-list__input {
  display: none;
}

.items-slider__slides {
  display: none;
}

.items-list__switches {
  position: absolute;
  bottom: 33px;
  left: 295px;
  width: ;
  height: ;
}

.items-slider__switch {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.items-slider__switch_2 {
  margin-right: 0;
}

#s1-r1:checked ~ .items-list__switches .items-slider__switch[for="s1-r1"]::after,
#s1-r2:checked ~ .items-list__switches .items-slider__switch[for="s1-r2"]::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
  content: "";
}

#s1-r1:checked ~ .items-slider .items-slider__slide1,
#s1-r2:checked ~ .items-slider .items-slider__slide2 {
  display: block;
}

.items-slider__slides {
  width: 620px;
  height: 267px;
  z-index: 1;
}

.items-slider__slide1 {
  background: url("../img/header-slider_slide1.jpg") no-repeat center;
}

.items-slider__slide2 {
  background: url("../img/header-slider_slide2.jpg") no-repeat center;
}

.items-slider__title-block {
  padding: 25px 0px 20px 22px;
}

.items-slider__title-block_slide1 {
  background: url(../img/header-slider_slide1_title-layer.jpg.png) no-repeat center;
}

.items-slider__title-block_slide2 {
  background: url(../img/header-slider_slide2_title-layer.jpg.png) no-repeat center;
}

.items-slider__slide-title {
  margin-bottom: 3px;
  font: 3.6em/0.8333333333em "Cuprum Bold", Arial, sans-serif;/*36/30*/
  text-transform: uppercase;
  color: #ffffff;
}

.items-slider__item-description {
  font: 1.8em/1.3333333333em "PT Sans", Arial, sans-serif;/*18/24*/
  word-spacing: ;
  color: #ffffff;
}

.items-slider__icon-font-switch {
  position: absolute;
  display: block;
  font-size: 4.5em;/*45*/
  color: #ffffff;
  cursor: pointer;
}

.items-slider__icon-font-switch_left {
  top: 109px;
  left: 5px;
}

.items-slider__icon-font-switch_right {
  top: 109px;
  right: 2px;
}

.items-slider__btn {
  position: absolute;
  bottom: 23px;
  left: 25px;
  width: 195px;
  padding: 10px 0 9px 0;
}


/* --MAIN-Index-title-common-----------------*/

.index__title-block {
  position: relative;
  padding : 27px 25px 33px 28px;
  background-color: #f7f3ec;
}

.index-title-block__h2 {
  font: 3em/1em "Cuprum", Arial, sans-serif;/*30/30*/
  text-transform: uppercase;
  color: #32425c;
}

.index-title-block__button {
  position: absolute;
  top: 22px;
  right: 24px;
  float: right;
  width: 252px;
  padding: 10px 0 11px 0;
}

.index__title-block__p {
  font: 1.3em/1.8461538462em "PT Sans", Arial, sans-serif;/*13/24*/
  color: #000;
}

/* --MAIN-Index-catalog__Fesature-items-----------------*/

.index__feature-items {
  position: relative;
  vertical-align: middle;
}

.feauture-items {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  align-content: space-between;
  /*flex-wrap: wrap;*/
  padding-top: 17px;
}

.feature-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 218px;
  height: 116px;
  margin-right: 20px;
  margin-bottom: 24px;
  padding-top: 178px;
  padding-bottom: 20px;
  text-align: center;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

.feature-item:nth-of-type(4n) {
  margin-right: 0;
}

.feature-item:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.feature-item__img {
  position: absolute;
  top:-20;
  left: 0;
}

.feature-item__img_item1 {
  top: 4px;
  left: 16px;
}

.feature-item__img_item2 {
  top: 27px;
  left: 40px;
}

.feature-item__img_item3 {
  top: 19px;
  left: 28px;
}

.feature-item__img_item4 {
  top: 27px;
  left: 32px;
}

.feature-item__name {
  margin-bottom: 12px;
  font: 1.8em/1.1111111111em "PT Sans Bold", Arial, sans-serif;/*18/20*/
  color: #000000;
}

.feature-item__old-price {
  display: block;
  margin-bottom: 9px;
  font: 1.7em/1.1111111111em "PT Sans Bold", Arial, sans-serif;/*17/18*/
  text-decoration: line-through;
  color: #999999;
}

.tecnomart-button_price {
  position: relative;
  width: 135px;
  margin-top: auto;
  margin-left: 9px;
  padding-top: 9px;
  padding-right: 7px;
  padding-bottom: 11px;
  font: 1.7em/1.0588235294em "PT Sans Bold", Arial, sans-serif;/*17/18*/
}

.tecnomart-button_price::after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid blue;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: transparent;
  border-right-color: #ffffff;
  content: "";
}

.feauture-item_4 .tecnomart-button_price {
  margin-top: 19px;
}

.feature-item__item-new {
  position: absolute;
  top: 2px;
  right: -29px;
  padding: 5px 0 5px 0;
  width: 100px;
}
/* --Buy-item__block---------------------------------- */
.buy-item {
  display: none;
  position: absolute;
  top: 38px;
  left: 0;
  width: inherit;
  padding: 5px 0;
  background-color: #ffffff;
  z-index: 1;
}

.feature__item:hover  .buy-item, 
.catalog__item:hover > .buy-item {
  display: block;	
}

.buy-item__bookmark-btn,
.buy-item__buy-btn {
  margin: 0 auto;
}

.buy-item__buy-btn {
  width: 125px;
  margin-bottom: 13px;
  padding: 9px 0 8px 0;
  padding-left: 10px;
  text-align: left;
  background-color: #63a63e;
  box-shadow: 0 3px 0 0px #367315;
}

.buy-item__icon-font {
  margin-right: 20px;
  color: #ffffff;
  opacity: 0.3;
}

.buy-item__buy-btn:hover {
  background-color: #5fbb2d; 
}

.buy-item__buy-btn:hover > .buy-item__icon-font,
.buy-item__buy-btn:active > .buy-item__icon-font {
  opacity: 1;
}

.buy-item__buy-btn:active {
  background-color: #518534; 
}

.buy-item__bookmark-btn {
  width: 131px;
  padding: 7px 0 7px 0; 
  background-color: #ffffff;
  color: #32425c;
  border: 3px solid #63a63e;
}

.buy-item__bookmark-btn:hover,
.buy-item__bookmark-btn:active {
  border-color: #32425c; 
}

.buy-item__bookmark-btn:active {
  opacity: 0.3;
}

/* --MAIN-Index-catalog__Fesature-brends-----------------*/
.brends__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 67px;
}

.brends__link {
  position: relative;
  display: block;
  width: 217px;
  height: 141px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}

.brends__elem:nth-of-type(4n) > .brends__link {
  
  margin-right: -1px;
}

.brends__link:hover  {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.brends__link:active  {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}

.brends__link:active > .brends__img {
  opacity: 0.3;
}

.brends__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brends__elem:nth-of-type(2) .brends__img {
  top: 47.5%;
}

.brends__elem:nth-of-type(3) .brends__img {
  top: 47.5%;
}

.brends__elem:nth-of-type(4) .brends__img {
  top: 44.5%;
}

/* --MAIN-Index__Services----------------------------------- */
.techomart-services {
  padding-top: 67px;
  padding-bottom: 100px;
  background-color: #f2f6f8;
}

.services__title-block {
  width: 100%;
  padding-bottom: 70px;
  text-align: left;
}

.services__h2 {
  margin-bottom: 30px;
  font: 3em/0.8em "Cuprum", Arial, sans-serif;/*30/24*/
  text-transform: uppercase;
  color: #000000;
}

.services__description {
  font: 1.3em/1.8461538462em "PT Sans", Arial, sans-serif;/*13/24*/
  color: #000000;
}

/* --Services__Slider-------- */
.services__slider {
  position: relative;
}

.services__slider::after {
  display: table;
  clear: both;
  content: "";
}

.services__input {
  display: none;
}

.services__switches {
  position: relative;
  float: left;
  width: 240px;
}

.services__switches::after {
  position: absolute;
  top: -40px;
  right: 0;
  content: "";
  width: 1px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: -1px 0 5px 1px rgba(0, 0, 0, 0.6);
}

.services__label {
  display: block;
  padding-top: 14px;
  padding-left: 23px;
  padding-bottom: 16px;
  font: 2.1em/1.4285714286em "Cuprum Bold", Arial, sans-serif;/*21/30*/
  color: #ffffff;
  background-color: #32425c;
  cursor: pointer;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
}

.services__label:hover {
  background-color: #293449; 
}

#delivery:checked ~ .services__switches > label[for="delivery"],
#warranty:checked ~ .services__switches > label[for="warranty"],
#credit:checked ~ .services__switches > label[for="credit"] {
  color: #32425c;
  background-color: #ffffff;
  border: none;
}

.services__wrapper {
  position: relative;
  float: right;
  width: 620px;
  height: 183px;
}

.services__slide {
  position: relative;
  display: none;
  width: inherit;
  height: inherit;
  transform: scale(0);
  text-align: left;
  transition: scale 3s ease;
}

.services__slide-title {
  margin-bottom: 35px;
  font: 3.6em/0.6666666667em "Cuprum", sans-serif;/*36/24*/
  text-transform: uppercase;
  color: #32425c;
}

.services__description_slide {
  margin-bottom: 28px;
}

.services__img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.services__img_delivery {
  bottom: 15px;
}

.services__img_warranty {
  right: -8px;
  bottom: 10px;
}

.services__img_credit {
  right: -27px;
}

.services__button {
  width: 195px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#delivery:checked ~ .services__wrapper > .services__slide_1,
#warranty:checked ~ .services__wrapper > .services__slide_2,
#credit:checked ~ .services__wrapper > .services__slide_3 {
  display: block;
  transform: scale(1);
}

/* --Index__About-us--------------------------------------- */
.technomart-about-us {
  padding-top: 77px;
  padding-bottom: 85px;
}

.content_about-us {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.about-us__col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.company-about {
  width: 540px;
}

.about-us__title {
  margin-bottom: 20px;
  font: 3em "Cuprum", Arial, sans-serif;/*30*/
  text-transform: uppercase;
  color: #000000;
}

.about-us__title {
  font: 3em "Cuprum", Arial, sans-serif;/*30*/
  text-transform: uppercase;
  color: #000000;
}

.about-us__description {
  margin-bottom: 25px;
  font: 1.3em/1.8461538462em "PT Sans", Arial, sans-serif;/*13/24*/
  color: #000000;
}

.about-us__description_spacing {
  margin-bottom: 25px;
  letter-spacing: 0.0115384615em;/*0.3*/
}

.about-us__description_delivery {
  margin-bottom: 21px;
}

.about-us__description_map {
  margin-bottom: 35px;
}

.company-about__delivery-companies-list {
  margin-bottom: 35px;
}

.company-about__li {
  margin-bottom: 20px;
}

.company-about__li:last-of-type {
  margin-bottom: 0px;
}

.company-about__link {
  position: relative;
  display: block;
  padding-left: 35px;
  font: 1.8em/1.1111111111em "Cuprum", Arial, sans-serif;/*18/20*/
  color: #000000;
}

.company-about__link::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  transform: translate(0, -50%);
  content: "";
}

.about-us__button {
  margin-top: auto;
  width: 220px;
}

.contacts {
  width: 300px;
}

.contacts__map {
  margin-bottom: 35px;
}

.about-us__button_contacts {
  width: 100%;
}

/* CATALOG ------------------------------------------------------*/
.breadcrumbs {
  display: table;
  padding-top: 22px;
  padding-bottom: 20px;
  background-color: #fff;
}

.breadcrumbs__link,
.breadcrumbs__link_active {
  display: inline-block;
  position: relative;
  margin-right: 8px;
  font: 1.3em/1.3846153846em "PT Sans", Arial, sans-serif;/*13/18*/
  text-transform: uppercase;
  vertical-align: top;
  color: #000;
}

.breadcrumbs__link-name {
  margin-right: 9px;
}

.breadcrumbs__icon-font {
  font-size: 1.2em;
  color: #c1c6ce;
}

.breadcrumbs__icon-font_right {
  font-size: 1em;
}

.index__title-block_catalog {
  background-color: #f2f6f8;
}

.main-catalog {
  padding-top: 20px;
  padding-bottom: 60px;
}

.main-catalog::after {
  display: table;
  clear: both;
  content: "";
}

.catalog__section-title {
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #f7f3ec;
}

.catalog__section-title_filter {
  padding-left: 20px;
}

.catalog__section-title-h3 {
  
  font: 1.3em/1.3846153846em "PT Sans", Arial, sans-serif;/*13/18*/
  text-transform: uppercase;
  color: #000;
}

.filter-section {
  float: left;
  width: 220px;
}

.filter__block {
  padding-top: 15px;
  padding-bottom: 23px;
  border-top: 1px solid #f7f3ec;
}

.filter__block_power {
  padding-top: 18px;
}

.filter__block_price {
  padding-top: 10px;
  border-top: none;
}

.filter__title {
  margin-bottom: 16px;
  font: 1.7em/1.7647058824em "PT Sans Bold", Arial, sans-serif;/*17/30*/
  text-transform: uppercase;
  color: #000;
}

.filter__title_power {
  letter-spacing: 0.05em;
}

.filter__input_range {
  position: relative;
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  background-color: #f7f3ec;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.input-range__switch {
  position: absolute;
  top: 30px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px #d7dcde;
}

.input-range__switch::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  border-right: 50%;
  background-color: #ababab;
  transform: translate(-50%, -50%);
  content: "";
}

.input-range__switch_left {
  left: 20px;
  z-index: 2;
}

.input-range__switch_right {
  right: 40px;
  z-index: 2;
}

.input-range__scale,
.input-range__bar {
  position: absolute;
  top: 38px;
  height: 2px;
  z-index: 1;
}
  
.input-range__scale {
  left: 20px;
  width: 170px;
  background-color: #d7dcde;
}

.input-range__bar {
  right: 60px;
  width: 120px;
  background-color: #00ca74;
}

.input-range__values {
  position: relative;
  font: 1.7em/1.0588235294em "PT Sans", Arial, sans-serif;/*17/18*/
  text-transform: uppercase;
  color: #000;
} 

.input-range__values::after {
  display: table;
  clear: both;
  content: "";
} 

.input-range__values::before {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #444444;
  transform: translate(-50%, -50%);
  content: "—";
}

.input-range__value {
  display: inline-block;
  width: 95px;
  padding-top: 9px;
  padding-bottom: 13px;
  text-align: center;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.input-range__value_start {
 float: left; 
}

.input-range__value_end {
 float: right; 
}

.filter__input_checkbox,
.filter__input_radio {
  display: none;
}

.filter__label {
  position: relative;
  display: block;
  margin-bottom: 19px;
  padding-left: 35px;
  font: 1.5em/1.3333333333em "PT Sans", Arial, sans-serif;/*15/20*/
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}

.filter__label_for-radio {
  font-size: 1.4em;
  line-height: 1.4285714286em;
}

.filter__label:last-of-type {
  margin-bottom: 0;
}

.filter__icon-font {
  float: left;
  font-size: 1.8em;
}

.filter__icon-font::before {
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translate(0%, -50%);
  color: #c1c1c1;
}

.filter__icon-font_checked {
  display: none;
}

.filter__icon-font_checked-box::before {
  left: -5.1px;
}

#bosch:checked ~ label[for="bosch"] > .filter__icon-font_unchecked,
#interskol:checked ~ label[for="interskol"] > .filter__icon-font_unchecked,
#makita:checked ~ label[for="makita"] > .filter__icon-font_unchecked,
#dewalt:checked ~ label[for="dewalt"] > .filter__icon-font_unchecked,
#hitachi:checked ~ label[for="hitachi"] > .filter__icon-font_unchecked,
#accum:checked ~ label[for="accum"] > .filter__icon-font_unchecked,
#netw:checked ~ label[for="netw"] > .filter__icon-font_unchecked {
  display: none;
} 

#bosch:checked ~ label[for="bosch"] > .filter__icon-font_checked,
#interskol:checked ~ label[for="interskol"] > .filter__icon-font_checked,
#makita:checked ~ label[for="makita"] > .filter__icon-font_checked,
#dewalt:checked ~ label[for="dewalt"] > .filter__icon-font_checked,
#hitachi:checked ~ label[for="hitachi"] > .filter__icon-font_checked,
#accum:checked ~ label[for="accum"] > .filter__icon-font_checked,
#netw:checked ~ label[for="netw"] > .filter__icon-font_checked {
  display: block;
} 

.filter__label:hover > .filter__icon-font::before {
  color: #b5b5b5;
}

#bosch:disabled ~ label[for="bosch"] > .filter__icon-font::before,
#interskol:disabled ~ label[for="interskol"] > .filter__icon-font::before,
#makita:disabled ~ label[for="makita"] > .filter__icon-font::before,
#dewalt:disabled ~ label[for="dewalt"] > .filter__icon-font::before,
#hitachi:disabled ~ label[for="hitachi"] > .filter__icon-font::before,
#accum:disabled ~ label[for="accum"] > .filter__icon-font::before,
#netw:disabled ~ label[for="netw"] > .filter__icon-font::before {
  color: #e9e9e9;
} 

.filter__submit {
  margin-top: 56px;
  display: block;
  width: 140px;
}

/*CATALOG__ITEMS --------------------- */
.items-section {
  float: right;
  width: 700px;
}

.catalog__section-title_sorting {
  padding-left: 18px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.catalog__section-title_sorting::after {
  display: table;
  clear: both;
  content: "";
}

.catalog__section-title-h3_sortmenu {
  float: left;
}

.catalog__sort-links {
  float: right;
}

.catalog__sort-link {
  display: inline-block;
  font: 1.3em/1.3846153846em "PT Sans", Arial, sans-serif;/*13/18*/
  text-transform: uppercase;
  color: #000;
  vertical-align: top;
  opacity: 0.3;
  border-bottom: 1px dotted #ee3643;
}

.catalog__sort-link:first-of-type {
  margin-right: 70px;
}

.catalog__sort-link:nth-of-type(3) {
  margin-left: 61px;
  margin-right: 35px;
}

.catalog__sort-link:hover {
  opacity: 1;
}

.catalog__sort-link_active {
  color: #ee3643; 
  border: none;
  opacity: 1;
}

.catalog__sort-link_up,
.catalog__sort-link_down {
  margin: 0;
  border: none;
}

.catalog__sort-link_down{
  margin-right: 0;  
}

.catalog__icon-font {
  font-size: 1.7em;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom:28px;
  padding-top: 18px;
}

.catalog__item {
  margin-right: 0;
}

.catalog__button_nav {
  display: inline-block;
  margin-right: 7px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 37px;
  text-align: center;
}

.catalog__button_nav_active {
  width: 39px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}

.index__title-block_catalog2 {
  padding-top: 65px;
  padding-bottom: 68px;
}

.catalog__button_nav-next {
  width: 140px;
}

.index-title-block__h2_catalog {
  margin-bottom: 25px;
  color: #000;
}

/* FOOTER-TOP-------------------------------------------------- */
.footer-top {
  background-color: #32425c;
  padding-top: 25px;
  padding-bottom: 50px;
}

.footer-top__top::after {
  display: table;
  content: "";
  clear: both;
}

.content_footer-top {
  position: relative;
}

.logo_footer {
  position: absolute;
  top: -38px;
  left: 10px;
  width: 220px;
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 1.5em;/*30*/
  line-height: 1em;/*30*/
}

.footer-top__menu {
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-top__menu_1 {
  width: 550px;
}

.footer-top__menu-link,
.footer-top__span {
  font: 1.8em/1.3333333333em "Cuprum", Arial, sans-serif;/*18/24*/
  color: #f1f5f7;
}

.footer-top__menu-link:hover {
  text-decoration: underline;
}

.footer-top__menu-link:active {
  text-decoration: none;
  opacity: 0.3;
} 

.footer-top__bottom {
  padding-top: 35px;
}

.footer-top__bottom::after {
  display: table;
  content: "";
  clear: both;
}

.footer-top__span {
  float: left;
  display: block;
  width: 328px;
}

.footer-top__menu_2 {
  float: right;
  width: 526px;
}

.footer-top__menu-link_2 {
  color: #ffd180;
}

/* --FOOTER-Bottom----------------------------------------- */
.footer-bottom {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #293449;
}

.content_footer-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-bottom__span {
  display: block;
  width: 100%;
  margin-right: 160px;
  font: 1.6em/1.125em "Cuprum", Arial, sans-serif;/*16/18*/
  color: #f1f5f7;
}

.footer-bottom__span_company {
  width: 230px;
}

.footer-bottom__socials {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 135px;
}

.footer-bottom__social-link {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #212a3a;
}

.footer-bottom__social-link:hover,
.footer-bottom__social-link:active {
  background-color: #ee3643; 
}

.footer-bottom__icon-font {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 2em;
  color: #f1f5f7;
}

.footer__feedback {
  width: 300px;
  margin-left: auto;
}

.footer__feedback::after {
  display: table;
  content: "";
  clear: both;
}

.footer__feedback_col {
  width: 150px;
}

.footer__feedback_col_left {
  float: left;
}

.footer__feedback_col_right {
  float: right;
  width: 110px;
  padding-left: 30px;
}

.footer-bottom__link {
  display: block;
  font: 1.6em/1.125em "Cuprum", Arial, sans-serif;/*16/18*/
  color: #ffd180;
}

.footer-bottom__link:hover {
  text-decoration: underline;
}

.footer-bottom__link:active {
  text-decoration: none;
  color: #ee3643;
}

/* MODAL-WINDOWS ------------------------------------------- */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

/* WRITE-US(no-js) ---- */
.write-us {
  position: relative;
  width: 620px;
  margin: 0 auto;
  padding-top: 45px;
  border-top: 7px solid #ee3643;
}

.write-us__close-btn {
  position: absolute;
  top: 5px;
  right: 3px;
  width: 20px;
  height: 20px;
  content: "";
}

.write-us__close-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 27px;
  background-color: #ee3643;
  content: "";
  transform: rotate(45deg);
}

.write-us__close-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 27px;
  background-color: #ee3643;
  content: "";
  transform: rotate(-45deg);
}

.write-us__user-info-wrapper {
  padding: 0 80px;	
}

.write-us__user-info-wrapper::after {
  display: table;
  clear: both;
  content: "";
}

.write-us__user-info {
  margin-bottom: 21px;
  display: inline-block;
  width: 220px;
}

.write-us__user-info_name {
  float: left;
} 

.write-us__user-info_email {
  float: right;
} 

.write-us__label {
  display: block;
  margin-bottom: 10px;
  font: 1.8em/1em "Cuprum", Arial, sans-serif;/*18/18*/
  color: #000;
}

.write-us__input {
  width: 100%;
  padding-top: 7px;
  padding-left: 14px;
  padding-bottom: 9px;
  font: 1.3em/1.3846153846em "PT Sans", Arial, sans-serif;/*13/18*/
  color: #000;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  box-sizing: border-box;
}

.write-us__input::-webkit-input-placeholder {
  color: #999999;
	
}
.write-us__input:-moz-placeholder {
	color: #999999;
	
}
.write-us__input::-moz-placeholder {
	color: #999999;
	
}
.write-us__input:-ms-input-placeholder {
	color: #999999;
}

.write-us__user-info_message {
  clear: both;
  width: 100%;
}

.write-us__sumbit-section {
  width: 100%;
  padding-top: 74px;
  padding-bottom: 37px;
  background-color: #f1f1f1;
}

.write-us__input_textarea {
  padding-bottom: 85px;
}

.write-us__submit {
  width: 460px;
  margin: 0 auto;
  text-align: center;
  border: none;
  outline: none;
}